@use "../../../assets/style/index.scss";
// lightMode
.king {
  position: relative;
  height: 100vh;
  display: flex;

  .sideBarContainer {
    border-right: 1px solid index.$darkMode_border_color;
    width: 20%;
    background-color: index.$darkMode_part_bg_color;
    color: index.$darkMode_text_color;
  }
  .outletAndHeaderContainer {
    height: 100%;
    width: 80%;

    .headerContainer {
      color: index.$darkMode_text_color;
      background-color: index.$darkMode_main_bg_color;
      height: 35%;
      padding: 20px;

      .sideBarBtn {
        display: none;
        position: absolute;
        font-size: 1.3rem;
        background-color: rgba(0, 0, 0, 0);
        color: index.$darkMode_text_color;
        border: 0;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        &:hover {
          color: rgba(255, 255, 255, 0.619);
        }
      }
    }
    .outletContainer {
      height: 65%;
      background-color: index.$darkMode_part_bg_color;
      color: index.$darkMode_text_color;
      overflow: auto;
    }
  }
}

// light mode style
#lightMode {
  .sideBarContainer {
    border-right: 1px solid index.$lightMode_border_color;
    background-color: index.$lightMode_part_bg_color;
    color: index.$lightMode_text_color;
  }
  .outletAndHeaderContainer {
    .headerContainer {
      color: index.$lightMode_text_color;
      background-color: index.$lightMode_main_bg_color;

      .sideBarBtn {
        color: index.$lightMode_text_color;

        &:hover {
          color: rgba(0, 0, 0, 0.619);
        }
      }
    }
    .outletContainer {
      background-color: index.$lightMode_part_bg_color;
      color: index.$lightMode_text_color;
    }
  }
}

@import "./mdAdminScreenSize";
@import "./smAdminScreenSize";
