@use "../../assets/style/index.scss";

.closeBtn {
  background-color: rgba(0, 0, 0, 0);
  color: index.$red_error_color;
  border: 0;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: rgba(204, 6, 6, 0.723);
  }
  &:active {
    color: rgba(204, 6, 6, 0.555);
  }
}
