.king {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 11px;

  .headerInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .pageNameAndDateInfoContainer {
      .pageNameContainer {
        font-size: 8em;
        font-family: "Brush Script MT", cursive;
        user-select: none;
        margin-bottom: 10px;
      }

      .dateInfoContainer {
        font-size: 2em;
      }
    }

    .searchInputContainer {
      width: 250px;
    }
  }
}

@import "./mdHeaderScreenSize";
@import "./smHeaderScreenSize";
@import "./xSmHeaderScreenSize";
