@use "../../assets/style/index.scss";
// lightMode

.king {
  height: 100vh;
  display: flex;

  .sideBarContainer {
    border-right: 1px solid index.$darkMode_border_color;
    width: 20%;
    background-color: index.$darkMode_part_bg_color;
    color: index.$darkMode_text_color;
  }
  .outletAndHeaderContainer {
    height: 100%;
    width: 80%;

    .headerContainer {
      color: index.$darkMode_text_color;
      background-color: index.$darkMode_main_bg_color;
      height: 35%;
      padding: 20px;
    }
    .outletContainer {
      height: 65%;
      background-color: index.$darkMode_part_bg_color;
      color: index.$darkMode_text_color;
      overflow: auto;
    }
  }
}

#lightMode {
  .sideBarContainer {
    border-right: 1px solid index.$lightMode_border_color;
    background-color: index.$lightMode_part_bg_color;
    color: index.$lightMode_text_color;
  }
  .outletAndHeaderContainer {
    .headerContainer {
      color: index.$lightMode_text_color;
      background-color: index.$lightMode_main_bg_color;
    }
    .outletContainer {
      background-color: index.$lightMode_part_bg_color;
      color: index.$lightMode_text_color;
    }
  }
}
